$main-color: #2a72b3;

// extenable class
.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}
// end extendable class

.powered-wrapper {
  .powered-text {
    margin-right: 10px;
  }

  .logo-cms {
    width: 65px;
  }
}

body {
  font-size: 12px;
}

.full-width {
  width: 100% !important;
}

.width-100 {
  width: 100% !important;
}

.width-75 {
  width: 75% !important;
}

.width-50 {
  width: 50% !important;
}

.width-25 {
  width: 25% !important;
}

.tab-content {
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top: none;
}

.nav-custom-pills {
  margin-bottom: 20px;

  .nav-item {

    .nav-link {
      background: transparent;
      border-bottom: 2px solid;
      border-color: transparent;
      border-radius: 0px;
      transition: all 0.5s ease;

      &.active, &:hover {
        border-color: black;
      }
    }
  }
}

.input-group-prepend {
  height: 100%;
}

.footer {
  font-size: 12px;
  padding: 10px 1rem;

  .footer-inline {
    @extend .display-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar {
  &.default-layout {
    box-shadow: 3px 5px 10px #dddddd;

    .navbar-brand-wrapper {
      border-right: 1px solid #dddddd;

      .brand-logo-mini img {
        width: auto;
        height: 25px;
      }
    }

    .navbar-menu-wrapper {
      background: white;

      .dropdown-item {
        cursor: pointer;
        font-size: 12px;
      }

      .navbar-toggler {
        color: black;
      }

      .navbar-nav .nav-item {

        &.dropdown .navbar-dropdown {
          padding: 10px 0px;
        }

        .nav-link {
          color: black;

          .profile-text {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.sidebar {
  padding: 15px 0px;
  border-right: 1px solid #dddddd;

  .nav .nav-item .nav-link {
    padding: 10px 15px;
    height: 45px;
    cursor: pointer;
  }
}

.sidebar-icon-only .sidebar .nav .nav-item.hover-open {

  .collapse {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 0px;
    top: 40px;
  }

  .submenu-collapse {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .nav-link .menu-title {
    border: 1px solid #dddddd;
    border-left: none;
    height: 40px;
  }
}


.btn-small {
  font-size: 11px;
}


.card {
  .card-header {
    @extend .display-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .card-body {
    padding: 20px;
  }
}

.card-title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 16px;
}

// custom button
.btn-form-wrapper {
  padding: 30px 0px;
}

.btn {
  font-size: 12px;
}
// end custom button

// custom table
.table {

  tbody td, thead th, tfoot th {
    height: 20px;
    padding: 5px 15px;
    font-size: 12px;
  }

  tfoot th {
    background: lightgrey;
    border: none;
  }

  .action-wrapper {
    white-space: nowrap;

    .btn {
      padding: 0.1rem 1rem;
      vertical-align: top;
    }
  }
}

.dataTables_wrapper {

  .dataTables_length select {
    height: 30px;
  }

  label, .dataTables_info {
    font-size: 12px;
  }

  .dataTable {
    width: 100% !important;

    tbody td, thead th {
      height: 20px;
      padding: 5px 15px;
      font-size: 12px;
    }
  }
}
// end custom table


// custom pagination
.pagination .page-item .page-link {
  font-size: 12px;
  padding: 5px 15px;
  cursor: pointer;
}
// end custom pagination

// custom form
.auth.theme-two .auto-form-wrapper form .form-group .input-group {
  height: 30px;
}

.form-group {
  margin-bottom: 15px;

  label {
    font-size: 12px;
    margin-bottom: 0px;

    &.valid {
      display: none !important;
    }
  }

  .label-help {
    font-size: 12px;
    font-style: italic;
  }
}

.form-control {
  border-color: #dddddd;
  height: 30px;
  padding: 5px 10px !important;

  &.control-half {
    width: 50%;
  }
}

.input-group > .input-group-append > .input-group-text {
  border-color: #dddddd;
  height: 30px;
}
// end custom form


// select custom
.select-wrapper {
  width: 50%;

  .select2-container {
    display: block;
    width: 100% !important;

    &:nth-child(3) {
      display: none;
    }

    .select2-search--inline {
      height: 20px;
      line-height: 16px;
      font-size: 12px;
    }

    .select2-selection {
      border: 1px solid #dddddd;
      height: 30px;
      padding: 5px 10px!important;

      .select2-selection__rendered {
        height: 20px;
        padding-left: 0px;
        line-height: 18px;
        overflow: unset;
      }

      .select2-selection__rendered {

        .select2-selection__choice {
          padding: 5px;
          font-size: 10px;
          margin-top: 0px;
          height: 20px;
        }
      }
    }
  }
}

.select-language-wrapper {
  min-width: 125px;
  width: 100%;
}

.select2-container {
  .select2-dropdown {

    .select2-results__option {
      padding: 5px;
      height: 30px;
      font-size: 12px;
      transition: all 0.5s ease;
    }

    .select2-results__option--highlighted[aria-selected] {
      background: $main-color;
    }
  }
}
// end select custom


// datepicker
.datepicker {

  table {
    width: 100%;
    font-size: 14px;
  }

  &.datepicker-dropdown, &.datepicker-inline {
    padding: 0px 10px;
    width: 200px;
    font-size: 12px;
    box-shadow: 0px 0px 10px #dddddd;

    &.datepicker-orient-bottom, &.datepicker-orient-top {
      &:before, &:after {
        display: none;
      }
    }

    .datepicker-days {
      padding: 0px;

      table {
        font-size: 12px;

        &.table-condensed {
          width: 100%;

          thead tr th {

            &.datepicker-switch, &.dow {
              font-size: 12px;
            }

            &.dow {
              &:first-child, &:last-child {
                text-align: center;
              }
            }
          }

          tbody td {

            &.day {
              font-size: 12px;

              &:first-child, &:last-child {
                text-align: center;
              }

              &.active:before, &.today:before {
                width: 30px;
                height: 30px;
              }

              &.today:before {
                background: $main-color;
              }
            }

            &.range-start {
              position: relative;
              color: white;
              background: transparent;

              &:before {
                content: "";
                width: 30px;
                height: 30px;
                background: #2196f3;
                border-radius: 100%;
                display: block;
                margin: auto;
                vertical-align: middle;
                position: absolute;
                top: 1px;
                z-index: -1;
                left: 0;
                right: 0;
              }
            }

            &.range-end {
              position: relative;
              color: white;
              background: transparent;

              &:before {
                content: "";
                width: 30px;
                height: 30px;
                background: #19d895;
                border-radius: 100%;
                display: block;
                margin: auto;
                vertical-align: middle;
                position: absolute;
                top: 1px;
                z-index: -1;
                left: 0;
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  &.input-group {
    width: 50%;

    .form-control {
      border: 1px solid #dddddd;
      border-right: none;
    }
  }
}
// end datepicker

// range
.range-wrapper {
  @extend .display-flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;

  .date {

    &.input-group {
      width: 50%;
    }
  }

  .range-separator {
    padding: 10px;
  }
}
// end range


// timepicker
.timepicker {

  &.input-group {
    width: 50%;
  }
}
// end timepicker


// colorpicker
.asColorPicker-wrap {
  width: 50%;

  .asColorPicker-trigger {
    padding: 10px 27px;
    border-color: #dddddd;
  }
}
// end colorpicker


// text editor
.text-editor-wrapper {
  margin-bottom: 15px;
}
// end text editor


// image uploader
.image-multiple-wrapper {

}

.image-section {
  @extend .display-flex;
  align-items: center;
}

.image-selector-wrapper {
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  height: 150px;

  .btn-upload-file {
    display: none;
  }

  .btn-upload {
    cursor: pointer;
    width: 200px;
    height: 150px;
    background: transparent;
    border: 1px solid #dddddd;

    .image {
      display: block;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }

    .upload-section {
      font-size: 14px;
      color: #909090;
    }
  }

  &:hover {
    .image-delete-icon {
      opacity: 1;
      top: -10px;
    }
  }

  .image-delete-icon {
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff4e4e;
    color: white;
    border-radius: 100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

}

// end image uploader


// panel
.panel-section-wrapper {
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-top: 35px;

  .panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: #eaeaea;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .header-title {
      font-size: 16px;
      margin-bottom: 0px;
      color: #565656;
    }

    .btn-add-row {
      padding: 7.5px;

      .fa {
        font-size: 10px;
        margin-left: 5px;
      }
    }
  }

  .panel-list-wrapper {
    padding: 15px;
  }

  .panel {
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 15px;

    .panel-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      background: #eaeaea;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .panel-title {

        h4 {
          color: #565656;
          font-size: 14px;
          margin-bottom: 0px;
        }
      }

      .remove-panel {
        font-size: 16px;
        cursor: pointer;
      }
    }

    .panel-body {
      padding: 15px;
    }
  }
}
// end panel


// file input
.hide {
  display: none !important;
}

.input-group {

  .file-change, .open-file {
    cursor: pointer;
    transition: all 0.5s ease;
    color: white;
    padding: 0px 12px;
    @extend .display-flex;
    align-items: center;
    text-decoration: none;
  }

  .file-change {
    background-color: #ff6161;
  }

  .open-file {
    background-color: #14aa75;
    margin-left: 15px;
  }
}

.custom-input {
  font-size: 14px;
  display: block;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0px;

  input {
    display: none;
  }

  .checker {
    position: relative;
    margin-right: 10px;
    display: block;
    height: 22.5px;
    width: 22.5px;
    transition: all 0.5s ease;

    &:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }

  &.type-radio {

    .checker {
      background-color: transparent;
      border: 3px solid #eaeaea;
      border-radius: 50%;

      &:after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        background: black;
        border-radius: 100%;
      }
    }

    &:hover {

      .checker {
        border-color: black;
      }

    }

    input {

      &:checked ~ .checker {
        border-color: black;

        &:after {
          display: block;
        }

      }
    }
  }

  &.type-checkbox {

    .checker {
      background-color: transparent;
      border: 1.5px solid #bbbbbb;
      border-radius: 2px;
      width: 17px;
      height: 17px;
      background: transparent;

      &:after {
        content: '\f00c';
        font-family: 'FontAwesome';
        position: absolute;
        color: white;
        border-radius: 100%;
      }
    }

    &:hover {

      .checker {
        border-color: #14aa75;
      }

    }

    input {

      &:checked, &.indeterminate {
        ~ .checker {
          border-color: #14aa75;
          background: #14aa75;

          &:after {
            display: block;
          }
        }
      }

      &.indeterminate ~ .checker {
        &:after {
          content: '\f068';
        }
      }
    }
  }

  &.type-label {
    display: inline-block;

    .checker {
      display: inline-block;
      background-color: transparent;
      border: 1px solid black;
      padding: 8px;
      color: black;
      min-width: 70px;
      border-radius: 8px;
      width: auto;
      height: auto;
      text-align: center;
    }

    input {

      &:checked ~ .checker {
        color: white;
        background: black;
      }
    }
  }

  &.type-pills {
    display: block;
    position: relative;
    height: 20px;
    width: 35px;

    .checker {
      background-color: #ccc;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
      width: auto;
      height: auto;
      border-radius: 20px;
      margin: 0px;

      &:before {
        background-color: #fff;
        bottom: 2.2px;
        content: "";
        height: 16px;
        left: 3px;
        position: absolute;
        transition: .4s;
        width: 16px;
        border-radius: 50%;
      }
    }

    input {

      &:checked ~ .checker {
        background-color: $main-color;

        &:before {
          transform: translateX(14px);
        }

      }
    }
  }
}
// end file input

// field amount
.amount-wrapper {
  width: 50%;

  .input-group-text {
    border-color: #dddddd;
    height: 30px;
    padding: 5px 15px!important;
    font-size: 12px;
    font-weight: 500;
  }
}
// end field amount


// modal
.modal {
  .modal-dialog {

    .modal-content {

      .modal-header, .modal-body, .modal-footer {
        padding: 15px;
      }
    }
  }
}

.modal-md {
  max-width: 650px;
  margin: 30px auto;
}
// end modal
